img{
	-webkit-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: all .5s ease-out;
	   -moz-transition: all .5s ease-out;
	    -ms-transition: all .5s ease-out;
	     -o-transition: all .5s ease-out;
	        transition: all .5s ease-out;
}
img:hover{
	-webkit-filter: grayscale(0%);
	-o-filter: grayscale(0%);
	filter: grayscale(0%);
}
.image{
	float: left;
	margin: 20px;
}
body{
	width: 800px;
	margin: auto;
}
p{
	margin-left: 20px;
}
@media screen and (min-width:600px) and (max-width:800px) { 
    body{
    	width: 600px;
	}
}
@media screen and (min-width:400px) and (max-width:600px) { 
    body{
    	width: 400px;
	}
}
@media screen (max-width:400px) { 
    body{
    	width: 200px;
	}
}