.color{
	-webkit-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: all .5s ease-out;
	   -moz-transition: all .5s ease-out;
	    -ms-transition: all .5s ease-out;
	     -o-transition: all .5s ease-out;
	        transition: all .5s ease-out;
}
.color:hover{
	-webkit-filter: grayscale(0%);
	-o-filter: grayscale(0%);
	filter: grayscale(0%);
}
.image{
	float: left;
	margin: 20px;
}
body{
	width: 800px;
	margin: auto;
}
p{
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	font-size: 18px;
	margin-right: 20px;
	margin-bottom: 0px;
	display: inline-block;
	float: right;
	margin-top: 59px;
}
.logo{
	margin-left: 20px;
}
.header{
	margin-top: 20px;
}
@media screen and (min-width:600px) and (max-width:800px) { 
    body{
    	width: 600px;
	}
}
@media screen and (min-width:400px) and (max-width:600px) { 
    body{
    	width: 400px;
	}
}
@media screen (max-width:400px) { 
    body{
    	width: 200px;
	}
}